<!-- lista-libros.component.html -->
<p>Secciones</p>

<button (click)="cargarDatos('Todos')">Mostrar todos los libros</button><br>
<button (click)="cargarDatos('Saga Saiyan')">Saga Saiyan</button>
<button (click)="cargarDatos('Saga Freezer')">Saga Freezer</button>
<button (click)="cargarDatos('Saga Cell')">Saga Cell</button>
<button (click)="cargarDatos('Saga Buu')">Saga Buu</button>

<div *ngIf="items.length > 0; else cargando">
  <h2>{{titulo}}</h2>
  <ul>
    <li *ngFor="let item of items" (click)="libroSeleccionado(item)">
      <p><strong>Titulo: </strong> {{ item.titulo }}</p>
    </li>
  </ul>
</div>

<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>


<app-detalle-libros></app-detalle-libros>  <!-- Asegúrate de agregar el componente hijo aquí -->
